@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

.blue-color {
    color: #0099ff;
   
}

.text-blue {
    color: #0099ff;
    text-decoration-color: #0099ff;
}

.fill-blue {
    fill: #0099ff;
}

.stroke-blue {
    stroke: #0099ff;
}

.bg-blue {
    background-color: #0099ff;
}

.button-gray {
    background-color: #6b7280;
    color: white;
    justify-self: center;
    font-weight: bold;
    border: transparent;

}

.button-gray:hover {
    background-color: #0099ff;
}
